<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>ADB Wireless Connect</Name>
	<Version>1.0</Version>
	<Title>ADB Wireless Connect Installer</Title>
	<Publisher>Jalopy Software</Publisher>
	<ProductUrl>https://github.com/Jalopy-Tech/ADB-Wireless-Connect/blob/main/README.md</ProductUrl>
	<StartMenuDir>ADB Wireless Connect</StartMenuDir>
	<TargetDir>@ApplicationsDirX64@/ADB Wireless Connect</TargetDir>
	<InstallerApplicationIcon>adb-wireless-connect</InstallerApplicationIcon>
	<RunProgram>@TargetDir@/adb-wireless-connect/ADBWirelessConnect</RunProgram>
	<RunProgramDescription>Launch ADB Wireless Connect</RunProgramDescription>
	<MaintenanceToolName>ADBWirelessConnectMaintenanceTool</MaintenanceToolName>
	<MaintenanceToolIniFile>ADBWirelessConnectMaintenanceTool</MaintenanceToolIniFile>
	<WizardDefaultWidth>800</WizardDefaultWidth>
	<WizardStyle>Modern</WizardStyle>
	<Logo>logo.png</Logo>
	<Watermark>watermark.png</Watermark>
	<ControlScript>controlscript.js</ControlScript>
	<SupportsModify>false</SupportsModify>
	<CreateLocalRepository>false</CreateLocalRepository>
</Installer>
